<!DOCTYPE html>
<html layout:decorate="~{layout/layout}">
<head>
<title>405</title>
</head>
<body>
	<section layout:fragment="body">
		<div class="error-page">
			<h2 class="headline text-warning">405</h2>
			<div class="error-content">
				<h3>
					<i class="fas fa-exclamation-triangle text-warning"></i> Oops! Método no permitido.
				</h3>
				<p>
					Regresa por favor a la p&#225;gina anterior actual&#237;zala e intenta de nuevo.<a href="javascript:window.history.go(-1);"> Regresar a la p&#225;gina anterior</a>
				</p>
			</div>
			<!-- /.error-content -->
		</div>
		<!-- /.error-page -->
	</section>
</body>
</html>